* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin-top: 60px;
}

header {
  background-color: #333;
  color: white;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 80px auto 20px;
}

.filters {
  flex: 0 0 250px;
  background-color: #f0f0f0;
  padding: 20px;
  position: fixed;
  width: 280px;
  top: 86px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 1000;
}

.properties {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin-left: 200px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.user-profile {
  font-size: 16px;
  cursor: pointer;
  padding-right: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

.filters h2 {
  margin-top: 0;
}

.filter-group {
  margin-bottom: 10px;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
}

.filter-group select,
.filter-group input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-group select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="#777" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 16px 16px;
}

.filter-group input[type="number"] {
  -moz-appearance: textfield;
}

#applyFiltersBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

#applyFiltersBtn:hover {
  background-color: #0056b3;
}

.property-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  width: calc(30% - 20px);
  float: left;
  margin-right: 20px;
  cursor: pointer;
}

.property-box:hover {
  background-color: #f0f0f0;
}

.property-box img {
  width: 100%;
  border-radius: 5px;
}

.property-heading {
  font-weight: bold;
  margin-top: 10px;
}

.property-description {
  margin-top: 5px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Property Details Styles */
.property-details {
  display: flex;
  justify-content: center;
}

.property-details-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

.property-details-container h2 {
  margin-top: 0;
}

.property-details-container p {
  margin: 10px 0;
}

/* Property Info Styles */
.property-info {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.property-info h2 {
  margin-top: 0;
}

.property-info p {
  margin: 10px 0;
}
