<html>
<head>
  <title>Watch Party</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
</head>
<body>
<div class="splash container"> <!-- TODO: Show me only on "/" -->
  <div class="splashHeader">
    <div class="loginHeader">
      <div class="loggedOut"> <!-- TODO: Show me only to logged-out users -->
        <a onclick="setUrlAndLoad('login')">Login</a>
      </div>
      <div class="loggedIn"> <!-- TODO: Show me only to logged-in users -->
        <a class="welcomeBack">
          <span class="username">Welcome back, !</span>
          <span class="material-symbols-outlined md-18">person</span></a>
        </a>
      </div>
    </div>
  </div>

  <div class="hero">
    <div class="logo">
      <img id="tv" src="/static/tv.jpeg">
      <img id="popcorn" src="/static/popcorn.png">
    </div>
    <h1 onclick="setUrlAndLoad('')" style="cursor: pointer;">Watch Party</h1>
    <h2 onclick="setUrlAndLoad('')">2</h2>
    <button class="create" onclick="createNewRoom()">Create a Room</button> <!-- TODO: Show me only to logged-in users -->
    <button class="signup" onclick="signUpUser()">Signup</button> <!-- TODO: Show me only to logged-out users -->
    <!-- <form method="POST" action="/api/signup">
      <button class="signup">Signup</button>
    </form> -->
  </div>

  <h2>Rooms</h2>
  <div class="rooms">
    <div class="roomList">
      <!-- <a>{{room.id}}: <strong>{{room.name}}</strong></a> -->
    </div>
    <div class="noRooms">No rooms yet! You get to be first!</div> <!-- TODO: Show me only if roomList is empty -->
  </div>
</div> <!-- end .splash -->

<div class="profile"> <!-- TODO: Show me only on "/profile" -->
  <div class="header">
    <h2 onclick="setUrlAndLoad('')" style="cursor: pointer;"><a>Watch Party</a></h2>
    <h4 onclick="setUrlAndLoad('')">2</h4>
    <div class="loginHeader">
      <div class="loggedIn">
        <a class="welcomeBack">
          <span class="username"></span>
          <span class="material-symbols-outlined md-18">person</span></a>
        </a>
      </div>
    </div>
  </div>
  <div class="clip">
    <div class="auth container">
      <h2>Welcome to Watch Party!</h2>
      <div class="alignedForm">
        <label for="username">Username: </label>
        <input name="username" value="">
        <button onclick="updateUsername()">update</button>
        <label for="password">Password: </label>
        <input type="password" name="password" value="">
        <button onclick="updatePassword()">update</button>
        <label for="repeatPassword">Repeat: </label>
        <input type="password" name="repeatPassword" value="">
        <error>Passwords don't match</error>
        <button class="exit goToSplash" onclick="setUrlAndLoad('')">Cool, let's go!</button>
        <button class="exit logout" onclick="logoutUser()">Log out</button>
      </div>
    </div>
  </div> 
</div>

<div class="login"> <!-- TODO: Show me only on "/login" -->
  <div class="header">
    <h2 onclick="setUrlAndLoad('')" style="cursor: pointer;"><a>Watch Party</a></h2>
    <h4 onclick="setUrlAndLoad('')">2</h4>
  </div>
  <div class="clip">
    <div class="auth container">
      <h3>Enter your username and password to log in:</h3>
      <div class="alignedForm login">
        <label for="username">Username</label>
        <input name="username" id="username"></input>
        <button onclick="loginUser()">Login</button>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <div class="failed"> <!-- TODO: Hide me by default. Show only on failed login attempts -->
        <div class="message">
          Oops, that username and password don't match any of our users!
        </div>
        <button onclick="signUpUserWithDetails()">Create a new Account</button>
      </div>
    </div>
  </div>
</div> <!-- end .login -->

<div class="room"> <!-- TODO: Show me only on "/room" (and its subroutes) -->
  <div class="header">
    <h2><a onclick="setUrlAndLoad('')" style="cursor: pointer;">Watch Party</a></h2>
    <h4 onclick="setUrlAndLoad('')">2</h4>
    <div class="roomDetail">
      <div class="displayRoomName"> <!-- TODO: Show me by default. Hide when user clicks the edit icon below -->
        <h3>
          Chatting in <strong id="roomName">{{ room.name }}</strong>
          <a onclick="toggleEditMode()"><span class="material-symbols-outlined md-18" style="cursor: pointer;">edit</span></a>
        </h3>
      </div>
      <div class="editRoomName hide"> <!-- TODO: Hide me by default. Show when user clicks the edit icon above -->
        <h3>
          Chatting in <input id="roomNameInput" value="{{ room['name'] }}">
          <button onclick="saveRoomName()" style="cursor: pointer;">Update</button>
        </h3>
      </div>
      Invite users to this chat at:
      <a onclick="router()" style="text-decoration: underline; cursor: pointer;" id="roomId">/rooms/{{ room_id }}</a>
    </div>
    <div class="loginHeader">
      <div class="loggedIn">
        <a class="welcomeBack">
          <span class="username"></span>
          <span class="material-symbols-outlined md-18">person</span></a>
        </a>
      </div>
    </div>
  </div>

  <div class="clip">
    <div class="container">
      <div class="chat">
        <div class="comment_box">
          <label for="comment">What do you have to say?</label>
          <textarea name="comment" id="commentTA"></textarea>
          <button type="submit" value="Post" onclick="postMessage(document.getElementById('commentTA').value)">Post</button>
        </div>
        <div class="messages"> <!-- TODO: Replace with the content returned by the API -->
        </div>
      </div>
      <div class="noMessages">
        <h2>Oops, we can't find that room!</h2>
        <p><a>Let's go home and try again.</a></p>
      </div>
    </div> <!-- end .container -->
  </div> <!-- end .clip -->
</div> <!-- end .room -->
<script src="/static/script.js"> </script>
<script> startMessagePolling(); </script>
</body>
</html>
